{% extends 'base.html' %}

{% block content %}
  <h1>All Streams</h1>
  <table>
    <thead>
      <tr>
        <th>Stream Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for stream in streams %}
        <tr>
          <td>{{ stream.name }}</td>
          <td>{{ stream.start_date }}</td>
          <td>{{ stream.end_date }}</td>
          <td>
            <a href="{% url 'stream_detail' stream.id %}">View</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No streams found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
